<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style-login.css' %}">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <img src="{% static 'images/logo-small.png' %}" alt="logo" class="logo">
        <form class="login" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>